*{
	margin: 0;
	padding: 0;
}

body{
	background-image: url("img/Fondo.png");
}

.container{
	display: flex;
	justify-content: center;
	margin-top: -100px;
}

img{
	width: 200px;
	height: 200px;
}

#top{
	margin-top: 50%;
}